{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <header class="w3-container">
        <h2>{{ title }}</h2>
    </header>
    <div class="w3-container">
        {{ content }}
        <ul style="list-style-type:none; padding:0; margin: 0;">
            {% for item in items %}
            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
