{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <header class="w3-container">
        <h2>{{ title }}</h2>
    </header>
    <div class="w3-container">
        <object data="{{ img_data }}" type="image/svg+xml"></object>
        <h2 id="message_title">Message <button type="submit" class="w3-button w3-border w3-padding-small w3-small w3-round-large" id="reload"><i class="fa fa-repeat"></i></button></h2>        
        <table class="w3-codespan" style="display: inline-block; color: black">
            {% for item in msg_items %}
            {% if item['id'] != 'msg' %}
            <tr>
                <td>{{ item['description'] }}</td>
                <td class="w3-right-align" style="padding-left: 40px" id="{{ item['id'] }}">{{ item['value'] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <br />
        <pre style="display: inline-block"><code class="w3-codespan yaml" id="msg">{{ msg }}</code></pre><br/>
        <h2>Publish Message</h2>
        <form action="{{ url }}" method="POST">
            <input type="text"   class="w3-input w3-codespan" style="display: inline-block" name="msg_pub" value="{{ msg_template }}" /><br />
            <br />
            <input type="submit" class="w3-button w3-border w3-padding-small w3-round-large" id="publish" value="Publish" /><br />
        </form>
        <br />
        <script type=text/javascript>
            $(function() {
                $('button#reload').bind('click', function() {
                    console.log('Requesting JSON');
                    $.getJSON('{{ url }}', {
                        get: 'json'
                    }, function(data) {
                        console.log('Got JSON result');
                        jQuery.each(data, function() {
                            $('#' + this['id']).html(this['value']);
                            if(this['id'] == 'msg') {
                                hljs.highlightBlock($('#' + this['id']).get(0));
                            }
                        });
                });
                return false;
                });
            });
        </script>
    </div>
{% endblock %}
